.wcpr_products_container{box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);background-color: #fff;width: 95%;border-radius: 5px;margin-top: 25px;margin-bottom: 25px;padding: 10px;}
.wcpr_title{display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
.wcpr_rating{display: flex !important;gap: 10px;background: #2152ff;padding: 10px 15px;border-radius: 5px;color: #FFF;text-decoration: none;flex-direction: row;align-items: center;font-family: 'Montserrat', sans-serif;font-weight: 600;margin-right: 30px;font-size: 14px;}
.wcpr_rating:hover {background: #000;color: #FFF;}
.wcpr_rating span {font-size: 14px;margin-top: 5px;line-height: 10px;display: flex;align-self: center;height: 15px;}
.wcpr_setting_container{border: 1px solid #dfe9f3;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.wcpr_products_container h1 {color: #2152ff;margin-left: 20px;font-family: 'Montserrat', sans-serif;line-height: 1em;}
.wcpr_app_sorting{margin: 30px 30px;}
.wcpr_field_container{border: 1px solid #f3f3f3; margin: 20px 0; border-radius: 5px; box-shadow: rgb(94 202 245 / 16%) 0px 1px 2px;}
.wcpr_field_container label, .wcpr_field_container div, .wcpr_field_container button{ font-family: 'Montserrat', sans-serif; font-weight: 600;}
.griditemUI {background-color: #fefefe !important;box-shadow: 0 10px 50px 0 rgb(0 0 0 / 5%) !important;cursor: move;border-radius: 3px;width:  auto !important;border: 1px dashed #3447675c; display: flex; align-items: center; padding: 10px; justify-content: space-around;}
.griditemUI img {max-height: 100px;width: auto;}
.griditemUI div {display: flex;justify-content: stretch;column-gap: 25px;align-items: center;}
.griditemContent {flex-direction: column;max-width: 200px;}
.griditemContent span {align-self: flex-end; text-align: right;}
.griditemUI p {font-weight: 600;color: #344767;font-size: 14px;font-family: 'Montserrat', sans-serif;text-align: right;display: flex;align-self: end;margin: 0;}
.griditemUI p.term{color:#7c7c7c}
.griditemUI.outofstock { position: relative;}
.griditemUI.outofstock:before { content: "Out of Stock"; position: absolute; top: 0; right: 0; background: #FF0000; color: #FFF;padding: 5px;}
.wcpr_products_container input[type=text], .wcpr_products_container input[type=text]:focus{border: none;box-shadow: none;padding: 10px 15px !important;font-family: 'Montserrat', sans-serif;font-weight: 600;font-size: 14px;}
.wcpr_documentation {margin: 2%;display: flex; flex-direction: column;row-gap: 10px;}
.wcpr_navigate h3 {color: #2152ff; font-family: 'Montserrat', sans-serif; line-height: 1em;}
.wcpr_navigate h4 {color: #9C27B0; font-family: 'Montserrat', sans-serif; line-height: 1em;}
.wcpr_navigate img {max-width: 55%;border: 1px solid #ddd;border-radius: 5px;box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;padding: 1%;background: #F0F0F1;}

